<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de Matrículas</ion-title>
    
  </ion-toolbar>

  <ion-toolbar color="secondary">
    <ion-row>
    <ion-input placeholder="Buscar" [(ngModel)]="curso" type="search" (ionChange)="carregar()"></ion-input>
  
    <ion-buttons (click)="carregar()">
      <ion-button>
        <ion-icon slot="end" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-row>
    
  </ion-toolbar>

</ion-header>

<ion-content>

</ion-content>
